ProviderGenerator.Web/Service References/GenerationService/providergenerator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2016-2016 Mohawk College of Applied Arts and Technology
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: khannan
 - Date: 2016-5-15
 -->
<xs:schema xmlns:tns="http://marc-hi.ca/xmlns/patgensvc" elementFormDefault="qualified" targetNamespace="http://marc-hi.ca/xmlns/patgensvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/providergenerator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" />
  <xs:element name="GenerateProviders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" minOccurs="0" name="request" nillable="true" type="q1:GenerationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" minOccurs="0" name="GenerateProvidersResult" nillable="true" type="q2:GenerationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>