ProviderGenerator.Web/Service References/GenerationService/providergenerator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 - Copyright 2016-2016 Mohawk College of Applied Arts and Technology
 - 
 - Licensed under the Apache License, Version 2.0 (the "License"); you 
 - may not use this file except in compliance with the License. You may 
 - obtain a copy of the License at 
 - 
 - http://www.apache.org/licenses/LICENSE-2.0 
 - 
 - Unless required by applicable law or agreed to in writing, software
 - distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 - WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
 - License for the specific language governing permissions and limitations under 
 - the License.
 - 
 - User: khannan
 - Date: 2016-5-15
 -->
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/providergenerator?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GenerationRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="AgeDistribution" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element name="DateOfBirthEnd" type="xs:dateTime" />
      <xs:element name="DateOfBirthStart" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="GenderDistribution" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element name="NumberOfRecords" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerationRequest" nillable="true" type="tns:GenerationRequest" />
  <xs:complexType name="GenerationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerationResponse" nillable="true" type="tns:GenerationResponse" />
</xs:schema>