ProviderGenerator.Web/Service References/GenerationService/providergenerator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://marc-hi.ca/xmlns/patgensvc" elementFormDefault="qualified" targetNamespace="http://marc-hi.ca/xmlns/patgensvc" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/providergenerator?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" />
  <xs:element name="GenerateProviders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateProvidersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" minOccurs="0" name="GenerateProvidersResult" nillable="true" type="q1:GenerationResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>