ProviderGenerator.Web/Service References/GenerationService/providergenerator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/providergenerator?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="GenerationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerationResponse" nillable="true" type="tns:GenerationResponse" />
</xs:schema>