ProviderGenerator.Web/Service References/GenerationService/providergenerator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProviderGenerator.Messaging.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/providergenerator?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:8000/providergenerator?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="GenerationRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="AgeDistribution" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element name="DateOfBirthEnd" type="xs:dateTime" />
      <xs:element name="DateOfBirthStart" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="GenderDistribution" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element name="NumberOfRecords" type="xs:int" />
      <xs:element name="SessionId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerationRequest" nillable="true" type="tns:GenerationRequest" />
  <xs:complexType name="GenerationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasErrors" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Messages" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GenerationResponse" nillable="true" type="tns:GenerationResponse" />
</xs:schema>